$white: #fff;
$black: #000;
$text-base: #5D6670;
$background-dashboard: #F9F9F9;

// primary
$orange-100: #FFF6E8;
$orange-200: #FFE1B5;
$orange-300: #FFCD82;
$orange-400: #FFB94F;
$orange-500: #FBAB34;
$orange-600: #E09422;
$orange-700: #AD721A;
$orange-800: #7A4E0C;
$orange-900: #472C04;

// secondary
$gray-100: #F6F6F6;
$gray-200: #F4F3F8;
$gray-300: #E0DEEA;
$gray-400: #ACABB7;
$gray-500: #8C8A97;
$gray-600: #716F7A;
$gray-700: #5F5C6B;
$gray-800: #4E4B59;
$gray-900: #33303E;

// tertiary
$green-100: #E8FAF1;
$green-200: #D1F6E3;
$green-300: #A4EDC6;
$green-400: #8DE8B8;
$green-500: #1BD171;
$green-600: #18B863;
$green-700: #149E55;
$green-800: #0E6B3A;
$green-900: #07381E;

// quartenary
$pink-100: #FFF2F3;
$pink-200: #FFCFD0;
$pink-300: #FF9497;
$pink-400: #FA7D80;
$pink-500: #EC3237;
$pink-600: #D42D31;
$pink-700: #A12226;
$pink-800: #6E171A;
$pink-900: #3B0C0E;

// Width web
$desktop: 1216px;
$tablet: 768px;
$mobile: 320px;
